.pages-title {
    padding: $space-between-30 $margin-left-right;
    padding-bottom: $space-between-10;
    @include breakpoints-up(medium) {
        padding: $space-between-60 $margin-left-right;
        padding-bottom: $space-between-10;
    }
    h1 {
        color: $title-h1-color;
        font-size: 1.25rem;
        font-weight: 800;
        @include breakpoints-up(medium) {
            font-size: 1.75rem;
        }
        .bi-chevron-double-right {
            font-size: 1rem;
            @include breakpoints-up(medium) {
                font-size: 1.375rem;
            }
        }
    }
}
.services-section.catalog-services {
    margin-top: $space-between-10;
    @include breakpoints-up(medium) {
        margin-top: $space-between-20;
    }
    a {
        text-decoration: none;
    }
}