.hero {
    display: flex;
    background: url("../../assets/images/hero.png") no-repeat center;
    background-size: cover;
    margin: 0 -0.5rem;
    @include breakpoints-up(medium) {
        background: unset;
        background-image: linear-gradient($background-color-1, $transparent-color);
        flex-direction: row;
        justify-content: space-between;
        margin: 0 -8px;
    }
    &__text {
        background-color: rgba(225,225,225,0.9);
        border-radius: 0.5rem;
        padding: 0.5rem;
        z-index: 2;
        width: 80%;
        margin: 3.125rem auto;
        text-align: center;
        @include breakpoints-up(medium) {
            padding-top: 8.75rem;
            margin: 0 0 0 $margin-left-right;
            width: 50%;
            max-width: 33rem;
            background-color: unset;
            text-align: unset;
            border-radius: 0;
        }
        h1 {
            color: $primary-color;
            font-size: 1.5rem;
            font-weight: 800;
            line-height: 2rem;
            margin-bottom: $space-between-30;
            @include breakpoints-up(medium) {
                font-size: 2.375rem;
                line-height: 3.2rem;
                text-align: left;
            }
        }
        .subtitle {
            color: $primary-color;
            font-size: 1rem;
            font-weight: 800;
            line-height: 1.625rem;
            margin-bottom: $space-between-30;
            @include breakpoints-up(medium) {
                text-align: left;
            }
        }
        .steps {
            display: flex;
            flex-wrap: wrap;
            @include breakpoints-down(small) {
                justify-content: center;
            }
            div {
                text-align: center;
                margin: 1rem 0;
                &:not(:last-child) {
                    margin-right: 1.25rem;
                    @include breakpoints-up(medium) {
                        margin-right: 1.875rem;
                    }
                }
                span {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: $title-h2-color;
                    @include breakpoints-up(medium) {
                        font-size: 2.5rem;
                    }
                }
                p {
                    font-size: 0.875rem;
                    font-weight: 400;
                    color: $primary-color;
                    margin: 0.25rem 0;
                    @include breakpoints-up(medium) {
                        font-size: 1.125rem;
                    }
                }
            }
        }

    }
    &__image {
        display: none;
        @include breakpoints-up(medium) {
            display: block;
            max-width: 50%;
        }
        img {
            width: 100%;
        }
    }

}
.services-section {
    margin: 0 $margin-left-right;
    margin-top: $space-between-90; 
    text-align: center;
    .services {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .service {
            width: 14.375rem;
            border-radius: 0.625rem;
            text-align: center;
            font-weight: 400;
            font-size: 1.125rem;
            background-color: $background-color-3;
            padding-bottom: 0.9375rem;
            margin: auto;
            margin-bottom: 2.1875rem;
            @include breakpoints-up (medium) {
                width: 20rem;
                font-size: 1.25rem;
                padding-bottom: 1.875rem;
            }
            img {
                width: 100%;
                border-radius: 0.625rem 0.625rem 0 0;
                margin-bottom: 0.9375rem;
                @include breakpoints-up (medium) {
                    margin-bottom: 1.875rem;
                }
            }
            p {
                color: $title-h3-color;
                margin: 0 0 0.875rem;
                @include breakpoints-up (medium) {
                    margin-bottom: 1rem;
                }
            }
            span {
                color: $secondary-color;
            }
        }
    }


}
.benefice-team {
    margin: 0 $margin-left-right;
    margin-top: $space-between-60;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include breakpoints-up(medium) {
        flex-direction: row-reverse;
        align-items: center;
    }
    &__image {
        width: 100%;
        margin-bottom: $space-between-20;
        @include breakpoints-up(medium) {
            width: 50%;
            max-width: 43.75rem;
        }
        img {
            width: 100%;
        }
    }
    &__text {
        text-align: left;
        @include breakpoints-up(medium) {
            width: 45%;
            max-width: 41.25rem;
        }
        p {
            color: $paragraph-color;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.625rem;
            margin-bottom: $space-between-20;
            @include breakpoints-up(medium) {
                font-size: 1.125rem;
            }
        }
        a {
            text-decoration: none;
            color: $secondary-color;
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: $space-between-20;
            @include breakpoints-up(medium) {
                font-size: 1.125rem;
            }
        }
    }
}
.benefice-mb {
    margin: 0 $margin-left-right;
    margin-top: $space-between-60;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include breakpoints-up(medium) {
        flex-direction: row;
        align-items: center;
    }
    &__image {
        width: 100%;
        margin-bottom: $space-between-20;
        @include breakpoints-up(medium) {
            width: 50%;
            max-width: 43.75rem;
        }
        img {
            width: 100%;
        }
    }
    &__text {
        text-align: left;
        @include breakpoints-up(medium) {
            width: 45%;
            max-width: 41.25rem;
        }
        p {
            color: $paragraph-color;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.625rem;
            margin-bottom: $space-between-20;
            @include breakpoints-up(medium) {
                font-size: 1.125rem;
            }
        }
        a {
            text-decoration: none;
            color: $secondary-color;
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: $space-between-20;
            @include breakpoints-up(medium) {
                font-size: 1.125rem;
            }
        }
    }
}
.benefice-sav {
    margin: 0 $margin-left-right;
    margin-top: $space-between-60;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include breakpoints-up(medium) {
        flex-direction: row-reverse;
        align-items: center;
    }
    &__image {
        width: 100%;
        margin-bottom: $space-between-20;
        @include breakpoints-up(medium) {
            width: 50%;
            max-width: 43.75rem;
        }
        img {
            width: 100%;
        }
    }
    &__text {
        text-align: left;
        @include breakpoints-up(medium) {
            width: 45%;
            max-width: 41.25rem;
        }
        
        p {
            color: $paragraph-color;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.625rem;
            margin-bottom: $space-between-20;
            @include breakpoints-up(medium) {
                font-size: 1.125rem;
            }
        }
        a {
            text-decoration: none;
            color: $secondary-color;
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: $space-between-20;
            @include breakpoints-up(medium) {
                font-size: 1.125rem;
            }
        }
    }
}
.result {
    margin: 0 10%;
    margin-top: $space-between-60;
    text-align: center;
    &__elements {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
            max-width: 9.375rem;
            height: fit-content;
            border-radius: 0.625rem;
            margin: auto;
            margin-top: 0;
            margin-bottom: 1rem;
            @include breakpoints-up(medium) {
                max-width: 13rem;
            }
        }
    }
}
.why {
    margin: 0 $margin-left-right;
    margin-top: $space-between-90;
    text-align: center;
    &__elements {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__element {
        width: 12.5rem;
        padding: 1.375rem;
        padding-top: 0;
        text-align: center;
        margin: auto;
        @include breakpoints-up(medium) {
            width: 20rem;
        }
        img {
            width: 4.625rem;
            margin-bottom: 0.625rem;
        }
        p {
            color: $paragraph-color;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.625rem;
            margin-bottom: $space-between-30;
            @include breakpoints-up(medium) {
                font-size: 1.125rem;
            }
        }
    }
}