.legal-content {
    color: $paragraph-color;
    font-size: 0.9375rem;
    line-height: 1.375rem;
    font-weight: 400;
    margin: auto;
    margin-top: $space-between-30;
    margin-bottom: $space-between-60;
    width: 80%;
    @include breakpoints-up(medium) {
        font-size: 1.125rem;
        line-height: 1.75rem;
        width: 70%;
        margin-top: $space-between-60;
        margin-bottom: $space-between-90;
    }
}