body {
  font-family: Urbanist, Arial, Sans-serif;
}

.cta-button {
  font-family: Urbanist, Arial, Sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
  padding: 0.55rem 2.18rem;
  background-color: #F46F0E;
  border-radius: 2rem;
  border-style: none;
  display: inline-block;
  margin-bottom: 1.875rem;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 calc(2% + 15px);
  font-size: 1.1rem;
}
.header .menu-md {
  display: block;
}
@media all and (min-width: 768px) {
  .header .menu-md {
    display: none;
  }
}
.header .menu-md__icon {
  width: 33px;
  height: 70px;
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 20px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.header .menu-md__icon div {
  height: 4px;
  background-color: #0C5259;
  display: block;
  margin: 5px;
  transition: all 0.6s ease-in-out;
}
.header .menu-md__icon:nth-child(1) {
  padding-top: 23px;
}
.header .menu-md__icon.active {
  left: calc(100vw - 33px);
  transition: all 600ms ease-in-out;
  background-color: #6D7D8B;
  position: fixed;
}
.header .menu-md__icon.active #icon-bar-one {
  transform: translateY(9px) rotate(-135deg);
  transition: all 0.6s ease-in-out;
  background-color: #F46F0E;
}
.header .menu-md__icon.active #icon-bar-two {
  opacity: 0;
  transition: 0.4s ease;
}
.header .menu-md__icon.active #icon-bar-three {
  transform: translateY(-9px) rotate(-45deg);
  transition: all 0.6s ease-in-out;
  background-color: #F46F0E;
}
.header .menu-md__hide {
  width: calc(100vw - 33px);
  left: calc(33px - 100vw);
  height: 100vh;
  position: absolute;
  z-index: 10;
  top: 0px;
  transition: all 0.6s ease-in-out;
}
.header .menu-md__hide li {
  height: 70px;
  list-style-type: none;
  text-align: center;
  line-height: 70px;
  transition: all 0.5s ease;
}
.header .menu-md__hide li:hover {
  background-color: #F46F0E;
  transition: all 0.5s ease;
}
.header .menu-md__hide a {
  padding: 30px 25px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 800;
}
.header .menu-md__hide.show {
  left: 0px;
  background-color: #6D7D8B;
  transition: all 0.6s ease-in-out;
  position: fixed;
}
.header__logo {
  margin-right: 0%;
  padding: 15px;
  padding-left: 0;
  text-align: center;
}
.header__logo img {
  height: 33px;
}
@media all and (min-width: 768px) {
  .header__logo {
    margin-right: 15%;
  }
}
.header .nav-lg {
  display: none;
  width: 40%;
  margin-right: 10%;
}
@media all and (min-width: 768px) {
  .header .nav-lg {
    display: block;
  }
}
.header .nav-lg ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.header .nav-lg li {
  padding: 20px 3%;
}
.header .nav-lg a {
  text-decoration: none;
  color: #0C5259;
  font-weight: bold;
}
.header .nav-lg a:hover {
  color: #F46F0E;
}
.header__cart {
  text-align: center;
  padding: 15px 0;
}
.header .bi-bag-plus {
  font-size: 150%;
  color: #0C5259;
}
@media all and (min-width: 768px) {
  .header .bi-bag-plus {
    font-size: 1.5rem;
  }
}

.hero {
  display: flex;
  background: url("../../images/hero.png") no-repeat center;
  background-size: cover;
  margin: 0 -0.5rem;
}
@media all and (min-width: 768px) {
  .hero {
    background: none;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -8px;
  }
}
.hero__text {
  background-color: rgba(225, 225, 225, 0.9);
  border-radius: 0.5rem;
  padding: 0.5rem;
  z-index: 2;
  width: 80%;
  margin: 3.125rem auto;
  text-align: center;
}
@media all and (min-width: 768px) {
  .hero__text {
    padding-top: 8.75rem;
    margin: 0 0 0 calc(2% + 15px);
    width: 50%;
    max-width: 33rem;
    background-color: unset;
    text-align: unset;
    border-radius: 0;
  }
}
.hero__text h1 {
  color: #0C5259;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2rem;
  margin-bottom: 1.875rem;
}
@media all and (min-width: 768px) {
  .hero__text h1 {
    font-size: 2.375rem;
    line-height: 3.2rem;
    text-align: left;
  }
}
.hero__text .subtitle {
  color: #0C5259;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
}
@media all and (min-width: 768px) {
  .hero__text .subtitle {
    text-align: left;
  }
}
.hero__text .steps {
  display: flex;
  flex-wrap: wrap;
}
@media all and (max-width: 767.98px) {
  .hero__text .steps {
    justify-content: center;
  }
}
.hero__text .steps div {
  text-align: center;
  margin: 1rem 0;
}
.hero__text .steps div:not(:last-child) {
  margin-right: 1.25rem;
}
@media all and (min-width: 768px) {
  .hero__text .steps div:not(:last-child) {
    margin-right: 1.875rem;
  }
}
.hero__text .steps div span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0C5259;
}
@media all and (min-width: 768px) {
  .hero__text .steps div span {
    font-size: 2.5rem;
  }
}
.hero__text .steps div p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #0C5259;
  margin: 0.25rem 0;
}
@media all and (min-width: 768px) {
  .hero__text .steps div p {
    font-size: 1.125rem;
  }
}
.hero__image {
  display: none;
}
@media all and (min-width: 768px) {
  .hero__image {
    display: block;
    max-width: 50%;
  }
}
.hero__image img {
  width: 100%;
}

.services-section {
  margin: 0 calc(2% + 15px);
  margin-top: 5.625rem;
  text-align: center;
}
.services-section .services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services-section .services .service {
  width: 14.375rem;
  border-radius: 0.625rem;
  text-align: center;
  font-weight: 400;
  font-size: 1.125rem;
  background-color: #f3f3f3;
  padding-bottom: 0.9375rem;
  margin: auto;
  margin-bottom: 2.1875rem;
}
@media all and (min-width: 768px) {
  .services-section .services .service {
    width: 20rem;
    font-size: 1.25rem;
    padding-bottom: 1.875rem;
  }
}
.services-section .services .service img {
  width: 100%;
  border-radius: 0.625rem 0.625rem 0 0;
  margin-bottom: 0.9375rem;
}
@media all and (min-width: 768px) {
  .services-section .services .service img {
    margin-bottom: 1.875rem;
  }
}
.services-section .services .service p {
  color: #0C5259;
  margin: 0 0 0.875rem;
}
@media all and (min-width: 768px) {
  .services-section .services .service p {
    margin-bottom: 1rem;
  }
}
.services-section .services .service span {
  color: #F46F0E;
}

/*# sourceMappingURL=style.css.map */
