body {
  font-family: Urbanist, Arial, Sans-serif;
  max-width: 112.5rem;
}

h2 {
  color: #0C5259;
  font-size: 1.375rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
}
@media all and (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  color: #0C5259;
  font-size: 1.375rem;
  font-weight: 400;
}
@media all and (min-width: 768px) {
  h3 {
    font-size: 1.75rem;
  }
}

.cta-button {
  font-family: Urbanist, Arial, Sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
  padding: 0.55rem 2.18rem;
  background-color: #F46F0E;
  border-radius: 2rem;
  border-style: none;
  display: inline-block;
  margin-bottom: 1.875rem;
  cursor: pointer;
}

.add-to-cart {
  font-family: Urbanist, Arial, Sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
  padding: 0.625rem 1.75rem;
  background-color: #F46F0E;
  border-radius: 2rem;
  border-style: none;
  display: inline-block;
  cursor: pointer;
}
@media all and (min-width: 768px) {
  .add-to-cart {
    font-size: 1.25rem;
    padding: 1.25rem 1.75rem;
  }
}

.payment-button {
  font-family: Urbanist, Arial, Sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
  padding: 0.625rem 1.75rem;
  background-color: #0C5259;
  border-radius: 2rem;
  border-style: none;
  display: inline-block;
  cursor: pointer;
}
@media all and (min-width: 768px) {
  .payment-button {
    padding: 1rem 1.75rem;
  }
}
.payment-button .bi {
  font-size: 1.125rem;
  margin-right: 0.5rem;
}

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0 calc(2% + 15px);
  margin: -0.5rem;
  margin-bottom: 0;
  font-size: 1.1rem;
}
.header .menu-md {
  display: block;
}
@media all and (min-width: 768px) {
  .header .menu-md {
    display: none;
  }
}
.header .menu-md__icon {
  width: 30px;
  height: 40px;
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 20px;
  padding-top: 15px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.header .menu-md__icon div {
  height: 2.5px;
  background-color: #0C5259;
  display: block;
  margin: 5px;
  transition: all 0.6s ease-in-out;
}
.header .menu-md__icon.active {
  left: calc(100vw - 30px);
  transition: all 600ms ease-in-out;
  background-color: #6D7D8B;
  position: fixed;
}
.header .menu-md__icon.active #icon-bar-one {
  transform: translateY(7.5px) rotate(-135deg);
  transition: all 0.6s ease-in-out;
  background-color: #F46F0E;
}
.header .menu-md__icon.active #icon-bar-two {
  opacity: 0;
  transition: 0.4s ease;
}
.header .menu-md__icon.active #icon-bar-three {
  transform: translateY(-8px) rotate(-45deg);
  transition: all 0.6s ease-in-out;
  background-color: #F46F0E;
}
.header .menu-md__hide {
  width: calc(100vw - 30px);
  left: calc(30px - 100vw);
  height: 100vh;
  position: absolute;
  z-index: 10;
  top: 0px;
  transition: all 0.6s ease-in-out;
}
.header .menu-md__hide li {
  height: 70px;
  list-style-type: none;
  text-align: center;
  line-height: 70px;
  transition: all 0.5s ease;
}
.header .menu-md__hide li:hover {
  background-color: #F46F0E;
  transition: all 0.5s ease;
}
.header .menu-md__hide a {
  padding: 30px 25px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 800;
}
.header .menu-md__hide.show {
  left: 0px;
  background-color: #6D7D8B;
  transition: all 0.6s ease-in-out;
  position: fixed;
}
.header__logo {
  margin-right: 0%;
  padding: 15px;
  padding-left: 0;
  text-align: center;
}
.header__logo img {
  height: 1.625rem;
}
@media all and (min-width: 768px) {
  .header__logo img {
    height: 2rem;
  }
}
@media all and (min-width: 768px) {
  .header__logo {
    margin-right: 15%;
  }
}
.header .nav-lg {
  display: none;
  width: 40%;
  margin-right: 10%;
}
@media all and (min-width: 768px) {
  .header .nav-lg {
    display: block;
  }
}
.header .nav-lg ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.header .nav-lg li {
  padding: 20px 3%;
}
.header .nav-lg a {
  text-decoration: none;
  color: #0C5259;
  font-weight: bold;
}
.header .nav-lg a:hover {
  color: #F46F0E;
}
.header__cart {
  text-align: center;
  padding: 15px 0;
}
.header .bi-bag-plus {
  font-size: 1.25rem;
  color: #0C5259;
}
@media all and (min-width: 768px) {
  .header .bi-bag-plus {
    font-size: 1.5rem;
  }
}
.header .cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: none;
}
.header .cart .background {
  width: 75%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
.header .cart-content {
  width: 35%;
  min-width: 280px;
  padding: 0.5rem 1rem;
  background-color: #FFFFFF;
  color: #6D7D8B;
}
.header .cart-content__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.375rem;
  border-bottom: 1px #c4c4c4 solid;
  font-size: 0.875rem;
}
@media all and (min-width: 992px) {
  .header .cart-content__header {
    font-size: 1rem;
  }
}
.header .cart-content-product {
  font-size: 0.875rem;
  display: flex;
  margin-top: 0.9375rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px #c4c4c4 solid;
}
@media all and (min-width: 992px) {
  .header .cart-content-product {
    font-size: 1rem;
  }
}
.header .cart-content-product__part1 {
  width: 30%;
  margin-right: 0.625rem;
}
.header .cart-content-product__part1 img {
  width: 100%;
  max-width: 6.25rem;
  border-radius: 0.5rem;
}
.header .cart-content-product__part2 {
  width: 70%;
  margin-right: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header .cart-content-product__part2-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.header .cart-content-product__part2-option {
  margin-bottom: 0.5rem;
}
.header .cart-content-product__part2-quantity {
  display: flex;
  justify-content: space-between;
}
.header .cart-content-product__part2-quantity .quantity {
  color: #6D7D8B;
}
.header .cart-content-product__part2-quantity .quantity button {
  font-size: 0.875rem;
  color: #6D7D8B;
  padding: 0.25rem 0.5rem;
  border: 1px #c4c4c4 solid;
  background-color: #FFFFFF;
  cursor: pointer;
}
.header .cart-content-product__part2-quantity .quantity input {
  font-size: 0.875rem;
  color: #6D7D8B;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
  width: 30px;
  border: 1px #c4c4c4 solid;
  margin: 0 -6px;
}
.header .cart-content-product__part2-quantity .price {
  padding-top: 0.625rem;
}
.header .cart-content-subtotal {
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
}
@media all and (min-width: 992px) {
  .header .cart-content-subtotal {
    font-size: 1rem;
  }
}
.header .cart-content-payment {
  text-align: center;
  margin-top: 1.875rem;
}
.header .cart-content .price {
  color: #F46F0E;
}

.footer {
  padding: 0 calc(2% + 15px);
  padding-top: 1.875rem;
  padding-bottom: 1.25rem;
  margin: 0 -0.5rem;
  margin-top: 5.625rem;
  color: #6D7D8B;
  border-top: 1px rgba(12, 82, 89, 0.2) solid;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(12, 82, 89, 0.1));
}
.footer__part-1 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 3.75rem;
}
@media all and (min-width: 768px) {
  .footer__part-1 {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.125rem;
    margin-bottom: 5.625rem;
  }
}
.footer__part-1 div {
  padding: 1rem 1rem 1rem;
}
.footer__part-1 h3 {
  font-size: 1.125rem;
  color: #0C5259;
  font-weight: bold;
  margin-bottom: 0.625rem;
}
@media all and (min-width: 768px) {
  .footer__part-1 h3 {
    font-size: 1.25rem;
  }
}
.footer__part-1 ul {
  padding-left: 0;
}
.footer__part-1 li {
  list-style-type: none;
  margin: 0.25rem 0;
}
.footer__part-1 a {
  text-decoration: none;
  color: #6D7D8B;
}
.footer__part-1 a:hover {
  color: #F46F0E;
}
.footer__part-1 form {
  display: flex;
  width: 100%;
}
.footer__part-1 input[type=email] {
  font-size: 0.875rem;
  color: #6D7D8B;
  padding: 0.25rem 0.5rem;
  border: 2px #F46F0E solid;
  border-radius: 2rem 0 0 2rem;
  width: 65%;
}
@media all and (min-width: 768px) {
  .footer__part-1 input[type=email] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
.footer__part-1 input[type=submit] {
  font-size: 0.875rem;
  color: #FFFFFF;
  background-color: #F46F0E;
  padding: 0.25rem 0.5rem;
  border: 2px #F46F0E solid;
  border-radius: 0 2rem 2rem 0;
  margin-left: -5px;
}
@media all and (min-width: 768px) {
  .footer__part-1 input[type=submit] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
.footer__part-2 {
  font-size: 1rem;
  font-weight: 500;
}
@media all and (min-width: 768px) {
  .footer__part-2 {
    font-size: 1.125rem;
  }
}
.footer__part-2 p {
  margin: 0;
}

@media all and (min-width: 768px) {
  .header.home {
    background-color: rgba(12, 89, 73, 0.1);
  }
}

.hero {
  display: flex;
  background: url("../../images/hero.png") no-repeat center;
  background-size: cover;
  margin: 0 -0.5rem;
}
@media all and (min-width: 768px) {
  .hero {
    background: unset;
    background-image: linear-gradient(rgba(12, 89, 73, 0.1), rgba(0, 0, 0, 0));
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -8px;
  }
}
.hero__text {
  background-color: rgba(225, 225, 225, 0.9);
  border-radius: 0.5rem;
  padding: 0.5rem;
  z-index: 2;
  width: 80%;
  margin: 3.125rem auto;
  text-align: center;
}
@media all and (min-width: 768px) {
  .hero__text {
    padding-top: 8.75rem;
    margin: 0 0 0 calc(2% + 15px);
    width: 50%;
    max-width: 33rem;
    background-color: unset;
    text-align: unset;
    border-radius: 0;
  }
}
.hero__text h1 {
  color: #0C5259;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2rem;
  margin-bottom: 1.875rem;
}
@media all and (min-width: 768px) {
  .hero__text h1 {
    font-size: 2.375rem;
    line-height: 3.2rem;
    text-align: left;
  }
}
.hero__text .subtitle {
  color: #0C5259;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
}
@media all and (min-width: 768px) {
  .hero__text .subtitle {
    text-align: left;
  }
}
.hero__text .steps {
  display: flex;
  flex-wrap: wrap;
}
@media all and (max-width: 767.98px) {
  .hero__text .steps {
    justify-content: center;
  }
}
.hero__text .steps div {
  text-align: center;
  margin: 1rem 0;
}
.hero__text .steps div:not(:last-child) {
  margin-right: 1.25rem;
}
@media all and (min-width: 768px) {
  .hero__text .steps div:not(:last-child) {
    margin-right: 1.875rem;
  }
}
.hero__text .steps div span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0C5259;
}
@media all and (min-width: 768px) {
  .hero__text .steps div span {
    font-size: 2.5rem;
  }
}
.hero__text .steps div p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #0C5259;
  margin: 0.25rem 0;
}
@media all and (min-width: 768px) {
  .hero__text .steps div p {
    font-size: 1.125rem;
  }
}
.hero__image {
  display: none;
}
@media all and (min-width: 768px) {
  .hero__image {
    display: block;
    max-width: 50%;
  }
}
.hero__image img {
  width: 100%;
}

.services-section {
  margin: 0 calc(2% + 15px);
  margin-top: 5.625rem;
  text-align: center;
}
.services-section .services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services-section .services .service {
  width: 14.375rem;
  border-radius: 0.625rem;
  text-align: center;
  font-weight: 400;
  font-size: 1.125rem;
  background-color: #f3f3f3;
  padding-bottom: 0.9375rem;
  margin: auto;
  margin-bottom: 2.1875rem;
}
@media all and (min-width: 768px) {
  .services-section .services .service {
    width: 20rem;
    font-size: 1.25rem;
    padding-bottom: 1.875rem;
  }
}
.services-section .services .service img {
  width: 100%;
  border-radius: 0.625rem 0.625rem 0 0;
  margin-bottom: 0.9375rem;
}
@media all and (min-width: 768px) {
  .services-section .services .service img {
    margin-bottom: 1.875rem;
  }
}
.services-section .services .service p {
  color: #0C5259;
  margin: 0 0 0.875rem;
}
@media all and (min-width: 768px) {
  .services-section .services .service p {
    margin-bottom: 1rem;
  }
}
.services-section .services .service span {
  color: #F46F0E;
}

.benefice-team {
  margin: 0 calc(2% + 15px);
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media all and (min-width: 768px) {
  .benefice-team {
    flex-direction: row-reverse;
    align-items: center;
  }
}
.benefice-team__image {
  width: 100%;
  margin-bottom: 1.25rem;
}
@media all and (min-width: 768px) {
  .benefice-team__image {
    width: 50%;
    max-width: 43.75rem;
  }
}
.benefice-team__image img {
  width: 100%;
}
.benefice-team__text {
  text-align: left;
}
@media all and (min-width: 768px) {
  .benefice-team__text {
    width: 45%;
    max-width: 41.25rem;
  }
}
.benefice-team__text p {
  color: #6D7D8B;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
  margin-bottom: 1.25rem;
}
@media all and (min-width: 768px) {
  .benefice-team__text p {
    font-size: 1.125rem;
  }
}
.benefice-team__text a {
  text-decoration: none;
  color: #F46F0E;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}
@media all and (min-width: 768px) {
  .benefice-team__text a {
    font-size: 1.125rem;
  }
}

.benefice-mb {
  margin: 0 calc(2% + 15px);
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media all and (min-width: 768px) {
  .benefice-mb {
    flex-direction: row;
    align-items: center;
  }
}
.benefice-mb__image {
  width: 100%;
  margin-bottom: 1.25rem;
}
@media all and (min-width: 768px) {
  .benefice-mb__image {
    width: 50%;
    max-width: 43.75rem;
  }
}
.benefice-mb__image img {
  width: 100%;
}
.benefice-mb__text {
  text-align: left;
}
@media all and (min-width: 768px) {
  .benefice-mb__text {
    width: 45%;
    max-width: 41.25rem;
  }
}
.benefice-mb__text p {
  color: #6D7D8B;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
  margin-bottom: 1.25rem;
}
@media all and (min-width: 768px) {
  .benefice-mb__text p {
    font-size: 1.125rem;
  }
}
.benefice-mb__text a {
  text-decoration: none;
  color: #F46F0E;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}
@media all and (min-width: 768px) {
  .benefice-mb__text a {
    font-size: 1.125rem;
  }
}

.benefice-sav {
  margin: 0 calc(2% + 15px);
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media all and (min-width: 768px) {
  .benefice-sav {
    flex-direction: row-reverse;
    align-items: center;
  }
}
.benefice-sav__image {
  width: 100%;
  margin-bottom: 1.25rem;
}
@media all and (min-width: 768px) {
  .benefice-sav__image {
    width: 50%;
    max-width: 43.75rem;
  }
}
.benefice-sav__image img {
  width: 100%;
}
.benefice-sav__text {
  text-align: left;
}
@media all and (min-width: 768px) {
  .benefice-sav__text {
    width: 45%;
    max-width: 41.25rem;
  }
}
.benefice-sav__text p {
  color: #6D7D8B;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
  margin-bottom: 1.25rem;
}
@media all and (min-width: 768px) {
  .benefice-sav__text p {
    font-size: 1.125rem;
  }
}
.benefice-sav__text a {
  text-decoration: none;
  color: #F46F0E;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}
@media all and (min-width: 768px) {
  .benefice-sav__text a {
    font-size: 1.125rem;
  }
}

.result {
  margin: 0 10%;
  margin-top: 3.75rem;
  text-align: center;
}
.result__elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.result__elements img {
  max-width: 9.375rem;
  height: fit-content;
  border-radius: 0.625rem;
  margin: auto;
  margin-top: 0;
  margin-bottom: 1rem;
}
@media all and (min-width: 768px) {
  .result__elements img {
    max-width: 13rem;
  }
}

.why {
  margin: 0 calc(2% + 15px);
  margin-top: 5.625rem;
  text-align: center;
}
.why__elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.why__element {
  width: 12.5rem;
  padding: 1.375rem;
  padding-top: 0;
  text-align: center;
  margin: auto;
}
@media all and (min-width: 768px) {
  .why__element {
    width: 20rem;
  }
}
.why__element img {
  width: 4.625rem;
  margin-bottom: 0.625rem;
}
.why__element p {
  color: #6D7D8B;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
}
@media all and (min-width: 768px) {
  .why__element p {
    font-size: 1.125rem;
  }
}

.product-hero {
  padding: 1.875rem calc(2% + 15px);
  margin: 0 -0.5rem;
  background-color: #f6f6f6;
}
@media all and (min-width: 576px) {
  .product-hero {
    display: flex;
  }
}
.product-hero__part-1 {
  max-width: 30rem;
  margin: auto;
}
@media all and (min-width: 576px) {
  .product-hero__part-1 {
    margin: unset;
    margin-right: 0.5rem;
  }
}
.product-hero__part-1 img {
  width: 100%;
  border-radius: 0.625rem;
}
.product-hero__part-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: auto;
}
@media all and (min-width: 576px) {
  .product-hero__part-2 {
    margin: unset;
    font-size: 1.25rem;
    padding-left: 0.605rem;
  }
}
@media all and (min-width: 768px) {
  .product-hero__part-2 {
    padding-left: 1rem;
  }
}
.product-hero__part-2 > div {
  margin-bottom: 1.25rem;
}
@media all and (min-width: 768px) {
  .product-hero__part-2 > div {
    margin-bottom: 1.875rem;
  }
}
.product-hero__part-2 h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}
@media all and (min-width: 576px) {
  .product-hero__part-2 h2 {
    margin-top: 0.5rem;
  }
}
@media all and (min-width: 768px) {
  .product-hero__part-2 h2 {
    font-size: 1.875rem;
  }
}
.product-hero__part-2 .product-title {
  margin-bottom: 1.25rem;
}
@media all and (min-width: 768px) {
  .product-hero__part-2 .product-title {
    margin-bottom: 1.875rem;
  }
}
.product-hero__part-2 .product-title span {
  color: #F46F0E;
  font-size: 1.25rem;
}
@media all and (min-width: 768px) {
  .product-hero__part-2 .product-title span {
    font-size: 1.5rem;
  }
}
.product-hero__part-2 .option {
  color: #6D7D8B;
}
.product-hero__part-2 .option p {
  margin-bottom: 1rem;
}
.product-hero__part-2 .option__case {
  display: flex;
  flex-wrap: wrap;
}
.product-hero__part-2 .option__case div {
  font-size: 1rem;
  margin-left: 0.625rem;
  margin-bottom: 0.375rem;
  padding: 0.125rem 0.25rem;
  background-color: #FFFFFF;
  border: 1px #c4c4c4 solid;
  cursor: pointer;
}
@media all and (min-width: 768px) {
  .product-hero__part-2 .option__case div {
    font-size: 1.125rem;
    padding: 0.25rem 0.5rem;
  }
}
.product-hero__part-2 .option__case.active {
  color: #F46F0E;
  border: 1px #F46F0E solid;
}
.product-hero__part-2 .quantity {
  color: #6D7D8B;
}
.product-hero__part-2 .quantity label {
  margin-bottom: 1rem;
}
.product-hero__part-2 .quantity button {
  font-size: 1rem;
  color: #6D7D8B;
  padding: 0.25rem 0.5rem;
  border: 1px #c4c4c4 solid;
  background-color: #FFFFFF;
  cursor: pointer;
}
@media all and (min-width: 768px) {
  .product-hero__part-2 .quantity button {
    font-size: 1.125rem;
  }
}
.product-hero__part-2 .quantity input {
  font-size: 1rem;
  color: #6D7D8B;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
  width: 30px;
  border: 1px #c4c4c4 solid;
  margin: 0 -5px;
}
@media all and (min-width: 768px) {
  .product-hero__part-2 .quantity input {
    font-size: 1.125rem;
  }
}

.product-body {
  padding: 1.875rem calc(2% + 15px);
  color: #6D7D8B;
  font-size: 1.125rem;
  font-weight: 400;
}
@media all and (min-width: 768px) {
  .product-body {
    font-size: 1.25rem;
    width: 70%;
    margin: auto;
  }
}

.product-catalog-view .solid {
  width: 25%;
  margin: auto;
  border-top: 1px #c4c4c4 solid;
  margin-bottom: 3.75rem;
}
.product-catalog-view h3 {
  text-align: center;
  margin-bottom: -3.75rem;
}

.blog-title {
  padding: 5.625rem calc(2% + 15px);
  padding-bottom: 1.875rem;
}
.blog-title h1 {
  color: #0C5259;
  font-size: 1.75rem;
  font-weight: 800;
}
@media all and (min-width: 768px) {
  .blog-title h1 {
    font-size: 2.375rem;
  }
}

.articles {
  padding: 1.875rem calc(2% + 15px);
  padding-bottom: 1.875rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.articles .article {
  width: 14.375rem;
  border-radius: 0.625rem;
  text-align: left;
  font-weight: 400;
  font-size: 1rem;
  background-color: #f6f6f6;
  padding-bottom: 0.9375rem;
  margin-bottom: 2.1875rem;
}
@media all and (max-width: 767.98px) {
  .articles .article {
    margin: auto;
    margin-bottom: 2.1875rem;
  }
}
@media all and (min-width: 768px) {
  .articles .article {
    width: 20rem;
    font-size: 1.125rem;
    padding-bottom: 1.875rem;
  }
}
.articles .article img {
  width: 100%;
  border-radius: 0.625rem 0.625rem 0 0;
  margin-bottom: 0.9375rem;
}
@media all and (min-width: 768px) {
  .articles .article img {
    margin-bottom: 1.25rem;
  }
}
.articles .article h3 {
  margin: 0 0.625rem;
  margin-bottom: 0.9375rem;
  font-size: 1.25rem;
  font-weight: 500;
}
@media all and (min-width: 768px) {
  .articles .article h3 {
    font-size: 1.375rem;
  }
}
.articles .article p {
  color: #6D7D8B;
  margin: 0 0.625rem;
  margin-bottom: 0.875rem;
}
@media all and (min-width: 768px) {
  .articles .article p {
    margin-bottom: 1rem;
    line-height: 24px;
  }
}
.articles .article span {
  margin: 0 0.625rem;
  color: #6D7D8B;
  font-size: 0.75rem;
}
@media all and (min-width: 768px) {
  .articles .article span {
    font-size: 0.875rem;
  }
}

.buttons-article {
  margin-bottom: 5.625rem;
  display: flex;
  justify-content: center;
}
.buttons-article .previous {
  font-family: Urbanist, Arial, Sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #FFFFFF;
  width: 5.625rem;
  padding: 0.375rem 1.75rem;
  background-color: #F46F0E;
  border-radius: 2rem 0 0 2rem;
  border-style: none;
  display: inline-block;
  margin-bottom: 1.875rem;
  cursor: pointer;
  margin-right: 0.5rem;
}
@media all and (min-width: 768px) {
  .buttons-article .previous {
    font-size: 1rem;
    width: 6.875rem;
    padding: 0.55rem 2.18rem;
    margin-right: 0.625rem;
  }
}
.buttons-article .next {
  font-family: Urbanist, Arial, Sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #FFFFFF;
  width: 5.625rem;
  padding: 0.375rem 1.75rem;
  background-color: #F46F0E;
  border-radius: 0 2rem 2rem 0;
  border-style: none;
  display: inline-block;
  margin-bottom: 1.875rem;
  cursor: pointer;
  margin-right: 0.625rem;
}
@media all and (min-width: 768px) {
  .buttons-article .next {
    font-size: 1rem;
    width: 6.875rem;
    padding: 0.55rem 2.18rem;
  }
}

.article-content {
  display: flex;
  flex-direction: column;
  padding: 1.875rem calc(2% + 15px);
  padding-bottom: 3.75rem;
  margin: auto;
}
@media all and (min-width: 768px) {
  .article-content {
    width: 70%;
    padding: 3.75rem calc(2% + 15px);
    padding-bottom: 5.625rem;
  }
}
.article-content h1 {
  color: #0C5259;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.875rem;
}
@media all and (min-width: 768px) {
  .article-content h1 {
    font-size: 2rem;
  }
}
.article-content .date {
  color: #6D7D8B;
  font-size: 0.75rem;
  margin-bottom: 1.25rem;
}
@media all and (min-width: 768px) {
  .article-content .date {
    font-size: 0.875rem;
  }
}
.article-content img {
  width: 100%;
  margin-bottom: 1.25rem;
}
.article-content .description {
  color: #6D7D8B;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  font-weight: 400;
  margin-bottom: 3.75rem;
}
@media all and (min-width: 768px) {
  .article-content .description {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 5.625rem;
  }
}
.article-content form {
  display: flex;
  flex-direction: column;
}
.article-content form textarea {
  font-family: Urbanist, Arial, Sans-serif;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: #6D7D8B;
  width: 80%;
  border: 1px #c4c4c4 solid;
  padding: 0.625rem;
}
@media all and (min-width: 768px) {
  .article-content form textarea {
    width: 50%;
    font-size: 1rem;
  }
}
.article-content form textarea:focus {
  outline: none;
}
.article-content form input[type=submit] {
  font-family: Urbanist, Arial, Sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #FFFFFF;
  padding: 0.375rem 1.625rem;
  background-color: #F46F0E;
  border-radius: 2rem;
  border-style: none;
  display: inline-block;
  margin: 0.625rem 0;
  cursor: pointer;
}
@media all and (min-width: 768px) {
  .article-content form input[type=submit] {
    font-size: 1rem;
    padding: 0.55rem 2.18rem;
    margin: 1.25rem 0;
  }
}

.pages-title {
  padding: 1.875rem calc(2% + 15px);
  padding-bottom: 0.625rem;
}
@media all and (min-width: 768px) {
  .pages-title {
    padding: 3.75rem calc(2% + 15px);
    padding-bottom: 0.625rem;
  }
}
.pages-title h1 {
  color: #0C5259;
  font-size: 1.25rem;
  font-weight: 800;
}
@media all and (min-width: 768px) {
  .pages-title h1 {
    font-size: 1.75rem;
  }
}
.pages-title h1 .bi-chevron-double-right {
  font-size: 1rem;
}
@media all and (min-width: 768px) {
  .pages-title h1 .bi-chevron-double-right {
    font-size: 1.375rem;
  }
}

.services-section.catalog-services {
  margin-top: 0.625rem;
}
@media all and (min-width: 768px) {
  .services-section.catalog-services {
    margin-top: 1.25rem;
  }
}

.portfolio {
  margin: 0 10%;
  margin-bottom: 1.25rem;
}
@media all and (min-width: 768px) {
  .portfolio {
    margin-bottom: 3.75rem;
  }
}
.portfolio__menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0px;
  margin-bottom: 1.875rem;
  padding: 0px;
}
@media all and (min-width: 768px) {
  .portfolio__menu {
    margin-bottom: 3.75rem;
  }
}
.portfolio__menu li {
  margin-right: 1.25rem;
}
.portfolio__menu a {
  text-decoration: none;
  color: #0C5259;
  font-size: 1.125rem;
  font-weight: 500;
}
@media all and (min-width: 768px) {
  .portfolio__menu a {
    font-size: 1.375rem;
  }
}
.portfolio__menu a:hover {
  color: #F46F0E;
}
.portfolio__menu a.active {
  color: #F46F0E;
}
.portfolio__boutique-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio__boutique-contents img {
  max-width: 9.375rem;
  height: fit-content;
  border-radius: 0.625rem;
  margin: auto;
  margin-top: 0;
  margin-bottom: 1rem;
}
@media all and (min-width: 768px) {
  .portfolio__boutique-contents img {
    max-width: 20rem;
  }
}
.portfolio-button {
  text-align: center;
}

.portfolio__video-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio__video-contents .video-container {
  max-width: 12.5rem;
  margin: auto;
  margin-bottom: 1rem;
}
@media all and (min-width: 768px) {
  .portfolio__video-contents .video-container {
    max-width: 20rem;
    margin-bottom: 1.25rem;
  }
}
.portfolio__video-contents .video-container video {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
}

.contact-form {
  margin: auto;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  width: 80%;
}
@media all and (min-width: 768px) {
  .contact-form {
    width: 50%;
  }
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form form input, .contact-form form textarea {
  font-family: Urbanist, Arial, Sans-serif;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: #6D7D8B;
  width: 100%;
  border: 1px #c4c4c4 solid;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
}
@media all and (min-width: 768px) {
  .contact-form form input, .contact-form form textarea {
    font-size: 1rem;
  }
}
.contact-form form input:focus, .contact-form form textarea:focus {
  outline: none;
}
.contact-form form .checkbox {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.25rem;
}
.contact-form form .checkbox #agree {
  width: initial;
  height: initial;
  margin-right: 0.625rem;
}
.contact-form form .checkbox label {
  font-family: Urbanist, Arial, Sans-serif;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: #6D7D8B;
}
@media all and (min-width: 768px) {
  .contact-form form .checkbox label {
    font-size: 1rem;
  }
}
.contact-form form input[type=submit] {
  font-family: Urbanist, Arial, Sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #FFFFFF;
  padding: 0.375rem 1.625rem;
  background-color: #F46F0E;
  width: unset;
  border-radius: 2rem;
  border-style: none;
  display: inline-block;
  cursor: pointer;
}
@media all and (min-width: 768px) {
  .contact-form form input[type=submit] {
    font-size: 1rem;
    padding: 0.55rem 2.18rem;
  }
}

.legal-content {
  color: #6D7D8B;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  font-weight: 400;
  margin: auto;
  margin-top: 1.875rem;
  margin-bottom: 3.75rem;
  width: 80%;
}
@media all and (min-width: 768px) {
  .legal-content {
    font-size: 1.125rem;
    line-height: 1.75rem;
    width: 70%;
    margin-top: 3.75rem;
    margin-bottom: 5.625rem;
  }
}

/*# sourceMappingURL=style.css.map */
