.header {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0 $margin-left-right;
    margin: -0.5rem;
    margin-bottom: 0;
    font-size: $nav-font-size;
    &.home {
        @include breakpoints-up (medium) {
            background-color: $background-color-1;
        }
    }    
    .menu-md {
        display: block;
        @include breakpoints-up(medium) {
            display: none;
        }
        &__icon {
            width: $menu-tab-width;
            height: 40px;
            position: absolute;
            z-index: 100;
            top: 0px;
            left: 20px;
            padding-top: 15px;
            cursor: pointer;
            transition: all .6s ease-in-out;
            div {
                height: 2.5px;
                background-color: $nav-color;
                display: block;
                margin: 5px;
                transition: all .6s ease-in-out;
            }
            &.active{
                left: calc(100vw - $menu-tab-width);
                transition: all 600ms ease-in-out;
                background-color: $paragraph-color;
                position: fixed;
                #icon-bar-one{
                    transform: translateY(7.5px) rotate(-135deg);
                    transition: all .6s ease-in-out;
                    background-color: $secondary-color;
                }
                #icon-bar-two{
                    opacity: 0;
                    transition: .4s ease;
                }
                #icon-bar-three{
                    transform: translateY(-8px) rotate(-45deg);
                    transition: all .6s ease-in-out;
                    background-color: $secondary-color;
                }
            }
        }
        &__hide {
            width: calc(100vw - $menu-tab-width);
            left: calc($menu-tab-width - 100vw);
            height: 100vh;
            position: absolute;
            z-index: 10;
            top: 0px;
            transition: all .6s ease-in-out;
            li {
                height: 70px;
                list-style-type: none;
                text-align: center;
                line-height: 70px;
                transition: all .5s ease;
                &:hover {
                    background-color: $secondary-color;
                    transition: all .5s ease;
                }
            }
            a {
                padding: 30px 25px;
                text-decoration: none;
                color: $white-color;
                font-weight: 800;
            }
            &.show {
                left: 0px;
                background-color: $paragraph-color;
                transition: all .6s ease-in-out;
                position: fixed;
            }  

        }

    }
    &__logo {
        margin-right: 0%;
        padding: 15px;
        padding-left: 0;
        text-align: center;
        img {
            height: 1.625rem;
            @include breakpoints-up(medium) {
                height: 2rem;
            }
        }
        @include breakpoints-up(medium) {
            margin-right: 15%;
        }
    }
    .nav-lg {
        display: none;
        @include breakpoints-up(medium) {
            display: block;
        }
        width: 40%;
        margin-right: 10%;
        ul {
            display: flex;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            .active {
                a {
                    color: $secondary-color;
                }
            }
        }
        li {
            padding: 20px 3%;
        }
        a {
            text-decoration: none;
            color: $nav-color;
            font-weight: bold;
            &:hover {
                color: $secondary-color;
            }
        }

    }
    &__cart {
        text-align: center;
        padding: 15px 0;
    }
    .bi-bag-plus {
        font-size: 1.25rem;
        color: $nav-color;
        cursor: pointer;
        @include breakpoints-up(medium) {
            font-size: 1.5rem;
        }
    }
    .cart {
        position: absolute;
        z-index: 100;
        .background {
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.8);
            position: fixed;
            top: 0;
            right: 0;
            display: none;

        }
        &-content {
            box-sizing: border-box;
            width: 35%;
            min-width: 280px;
            height: 100vh;
            padding: 0.5rem 1rem;
            background-color: $white-color;
            color: $paragraph-color;
            position: fixed;
            top: 0;
            left: 100%;
            transition: left 400ms ease;
            &__header {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding-bottom: 0.375rem;
                border-bottom: 1px $color-c4 solid;
                font-size: 0.875rem;
                @include breakpoints-up(large) {
                    font-size: 1rem;
                }
            }
            &-product {
                font-size: 0.875rem;
                display: flex;
                margin-top: 0.9375rem;
                padding-bottom: 0.75rem;
                border-bottom: 1px $color-c4 solid;
                @include breakpoints-up(large) {
                    font-size: 1rem;
                }
                &__part1 {
                    width: 30%;
                    margin-right: 0.625rem;
                    img {
                        width: 100%;
                        max-width: 6.25rem;
                        border-radius: 0.5rem;
                    }
                }
                &__part2 {
                    width: 70%;
                    margin-right: 0.625rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    &-title {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 0.5rem;
                    }
                    &-option {
                        margin-bottom: 0.5rem;
                    }
                    &-quantity {
                        display: flex;
                        justify-content: space-between;
                        .quantity {
                            color: $paragraph-color;
                            button {
                                font-size: 0.875rem;
                                color: $paragraph-color;
                                padding: 0.25rem 0.5rem;
                                border: 1px $color-c4 solid;
                                background-color: $white-color;
                                cursor: pointer;
                            }
                            input {
                                font-size: 0.875rem;
                                color: $paragraph-color;
                                padding-top: 0.25rem;
                                padding-bottom: 0.25rem;
                                text-align: center;
                                width: 30px;
                                border: 1px $color-c4 solid;
                                margin: 0 -6px;
                                &::-webkit-inner-spin-button {
                                    display: none;
                                }
                                &::-webkit-outer-spin-button {
                                    display: none;
                                }
                                &:focus {
                                    outline: none;
                                }
                            }
                        }
                        .price {
                            padding-top: 0.625rem;
                        }
                    }
                }
            }
            &-subtotal {
                font-size: 0.875rem;
                display: flex;
                justify-content: space-between;
                margin-top: 1.25rem;
                @include breakpoints-up(large) {
                    font-size: 1rem;
                }
            }
            &-payment {
                text-align: center;
                margin-top: 1.875rem;
            }
            .price {
                color: $secondary-color;
            }
            .bi-x {
                cursor: pointer;
            }
            &.show {
                left: calc(100% - 280px);
                @media all and (min-width: 800px) {
                    left: calc(100% - 35%);
                }    
            }
        }
    }
}