.add-to-cart {
    font-family: $primary-font-family;
    font-size: 1rem;
    font-weight: 400;
    color: $white-color;
    padding: 0.625rem 1.75rem;
    background-color: $button-color;
    border-radius: 2rem;
    border-style: none;
    display: inline-block;
    cursor: pointer;
    @include breakpoints-up(medium) {
        font-size: 1.25rem;
        padding: 1.25rem 1.75rem;
    }
}