.portfolio {
    margin: 0 10%;
    margin-bottom: $space-between-60;
    &__menu {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0px;
        margin-bottom: $space-between-30;
        @include breakpoints-up(medium) {
            margin-bottom: $space-between-60;
        }
        padding: 0px;
        li {
            margin-right: $space-between-20;
        }
        a {
            text-decoration: none;
            color: $nav-color;
            font-size: 1.125rem;
            font-weight: 500;
            @include breakpoints-up(medium) {
                font-size: 1.375rem;
            }
            &:hover {
                color: $secondary-color;
            }
            &.active {
                color: $secondary-color;
            }
        }
    }
    &__boutique-contents {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
            max-width: 9.375rem;
            height: fit-content;
            border-radius: 0.625rem;
            margin: auto;
            margin-top: 0;
            margin-bottom: 1rem;
            @include breakpoints-up(medium) {
                max-width: 20rem;
            }
        }
    }
    &-button {
        text-align: center;
    }
}