.product-hero {
    padding: $space-between-30 $margin-left-right;
    margin: 0 -0.5rem;
    background-color: $color-f6;
    @include breakpoints-up(small) {
        display: flex;
    }
    &__part-1 {
        max-width: 30rem;
        
        margin: auto;
        @include breakpoints-up(small) {
            margin: unset;
            margin-right: 0.5rem;
        }
        img {
            width: 100%;
            border-radius: 0.625rem;
        }
    }
    &__part-2 {
        font-size: 1.125rem;
        font-weight: 400;
        margin: auto;
        @include breakpoints-up(small) {
            margin: unset;
            font-size: 1.25rem;
            padding-left: 0.605rem;
        }
        @include breakpoints-up(medium) {
            padding-left: 1rem;
        }
        > div {
            margin-bottom: $space-between-20;
            @include breakpoints-up(medium) {
                margin-bottom: $space-between-30;
            }
        }
        h2 {
            font-size: 1.5rem;
            margin-top: 1rem;
            @include breakpoints-up(small) {
                margin-top: 0.5rem;
            }
            @include breakpoints-up(medium) {
                font-size: 1.875rem;
            }
        }
        .product-title {
            margin-bottom: $space-between-20;
            @include breakpoints-up(medium) {
                margin-bottom: $space-between-30;
            }
            span {
                color: $secondary-color;
                font-size: 1.25rem;
                @include breakpoints-up(medium) {
                    font-size: 1.5rem;
                }
            }
        }
        .option {
            color: $paragraph-color;
            p {
                margin-bottom: 1rem;
            }
            &__case {
                display: flex;
                flex-wrap: wrap;
                div {
                    font-size: 1rem;
                    margin-left: 0.625rem;
                    margin-bottom: 0.375rem;
                    padding: 0.125rem 0.25rem;
                    background-color: $white-color;
                    border: 1px $color-c4 solid;
                    cursor: pointer;
                    @include breakpoints-up(medium) {
                        font-size: 1.125rem;
                        padding: 0.25rem 0.5rem;
                    }
                }
                &.active {
                    color: $secondary-color;
                    border: 1px $secondary-color solid;
                }
            }
        }
        .quantity {
            color: $paragraph-color;
            label {
                margin-bottom: 1rem;
            }
            button {
                font-size: 1rem;
                color: $paragraph-color;
                padding: 0.25rem 0.5rem;
                border: 1px $color-c4 solid;
                background-color: $white-color;
                cursor: pointer;
                @include breakpoints-up(medium) {
                    font-size: 1.125rem;
                }
            }
            input {
                font-size: 1rem;
                color: $paragraph-color;
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
                text-align: center;
                width: 30px;
                border: 1px $color-c4 solid;
                margin: 0 -5px;
                @include breakpoints-up(medium) {
                    font-size: 1.125rem;
                }
            }
        }
    }
}