$primary-color: #0C5259;
$secondary-color: #F46F0E;
$white-color: #FFFFFF;
$nav-color: #0C5259;
$title-h1-color: #0C5259;
$title-h2-color: #0C5259;
$title-h3-color: #0C5259;
$paragraph-color: #6D7D8B;
$button-color: #F46F0E;
$link-color: #04E7FF;
$transparent-color: rgba(0,0,0,0);
$transparent-background: rgba(0,0,0,0.5);
$background-color-1: rgba(12,89,73,10);
$background-color-2: rgba(12,82,89,10);

$primary-font-family: Urbanist, Arial, Sans-serif;

$nav-font-size: 1.1rem;

$menu-tab-width: 33px;

$breakpoints: (tablet: 768px, laptop: 992px);
