.header {
    display: flex;
    justify-content: space-between;
    padding: 0 $margin-left-right;
    margin: -0.5rem;
    margin-bottom: 0;
    font-size: $nav-font-size;
    @include breakpoints-up (medium) {
        background-color: $background-color-1;
    }    
    .menu-md {
        display: block;
        @include breakpoints-up(medium) {
            display: none;
        }
        &__icon {
            width: $menu-tab-width;
            height: 70px;
            position: absolute;
            z-index: 100;
            top: 0px;
            left: 20px;
            cursor: pointer;
            transition: all .6s ease-in-out;
            div {
                height: 4px;
                background-color: $nav-color;
                display: block;
                margin: 5px;
                transition: all .6s ease-in-out;
            }
            &:nth-child(1){
                padding-top: 15px;
            }
            &.active{
                left: calc(100vw - $menu-tab-width);
                transition: all 600ms ease-in-out;
                background-color: $paragraph-color;
                position: fixed;
                #icon-bar-one{
                    transform: translateY(9px) rotate(-135deg);
                    transition: all .6s ease-in-out;
                    background-color: $secondary-color;
                }
                #icon-bar-two{
                    opacity: 0;
                    transition: .4s ease;
                }
                #icon-bar-three{
                    transform: translateY(-9px) rotate(-45deg);
                    transition: all .6s ease-in-out;
                    background-color: $secondary-color;
                }
            }
        }
        &__hide {
            width: calc(100vw - $menu-tab-width);
            left: calc($menu-tab-width - 100vw);
            height: 100vh;
            position: absolute;
            z-index: 10;
            top: 0px;
            transition: all .6s ease-in-out;
            li {
                height: 70px;
                list-style-type: none;
                text-align: center;
                line-height: 70px;
                transition: all .5s ease;
                &:hover {
                    background-color: $secondary-color;
                    transition: all .5s ease;
                }
            }
            a {
                padding: 30px 25px;
                text-decoration: none;
                color: $white-color;
                font-weight: 800;
            }
            &.show {
                left: 0px;
                background-color: $paragraph-color;
                transition: all .6s ease-in-out;
                position: fixed;
            }  

        }

    }
    &__logo {
        margin-right: 0%;
        padding: 15px;
        padding-left: 0;
        text-align: center;
        img {
            height: 33px;
        }
        @include breakpoints-up(medium) {
            margin-right: 15%;
        }
    }
    .nav-lg {
        display: none;
        @include breakpoints-up(medium) {
            display: block;
        }
        width: 40%;
        margin-right: 10%;
        ul {
            display: flex;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }
        li {
            padding: 20px 3%;
        }
        a {
            text-decoration: none;
            color: $nav-color;
            font-weight: bold;
            &:hover {
                color: $secondary-color;
            }
        }

    }
    &__cart {
        text-align: center;
        padding: 15px 0;
    }
    .bi-bag-plus {
        font-size: 150%;
        color: $nav-color;
        @include breakpoints-up(medium) {
            font-size: 1.5rem;
        }
    }
}